header {
  z-index: 999;
  position: sticky;
 margin: auto;
}
.header2 {
  z-index: 1;
  justify-content: center;
   position: sticky;

}

::ng-deep .mat-toolbar2{
  z-index: 999;
  position: fixed;
  margin: auto;


}


>>> .my-menu .mat-menu-content {
  background: #3F51B5;
  color: #eeeeee;
  width: 200px;
  transition: none !important;
  box-shadow: none !important;
  flex: 1 1 auto;
}

span {
  padding-right: 50px;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

