<mat-toolbar >
  <mat-toolbar-row class="center" style="text-align: center;">
    <div class="row">
      <div class="column">
        <h3 style="color: #3F51B5">Checklist for New Adopters</h3>
        <p>
          Help make the transition,
          <br>as smooth as possible.
        </p>
        <button mat-stroked-button color="primary">LEARN MORE</button>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h1  style="font-size: 28px;">Planning to Adopt a Pet?</h1><br>
        <h3 style="color: #3F51B5">COVID-19 Resources</h3><p>
        Get the latest on adoption processes,
        <br>learn how local shelters and rescue
        <br> groups are adapting and find out what
        <br>you can do to help dogs and cats in
        <br>need right now.</p>

        <button mat-stroked-button color="primary">LEARN MORE</button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 style="color: #3F51B5">Pet Adoption FAQs</h3>
        <p>
          Get answers to questions you haven't thought of.</p>

        <button mat-stroked-button color="primary">LEARN MORE</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
