<mat-card>
<form [formGroup]="form" (submit)="onSavePost()" >
  <mat-form-field>
    <input matInput
           type="text"
           formControlName="title"
           placeholder="Post Title"
         >
<!--    //help to define mat error in ngif (#title)-->
    <mat-error *ngIf="form.get('title').invalid">Please enter post title</mat-error>
  </mat-form-field>
  <br>
  <div>
    <button mat-stroked-button type="button"  (click)="filePicker.click()">Upload Image</button>
    <input type="file" #filePicker  (change)="onImagePicked($event)">
  </div>
  <div class="image-preview" *ngIf="imgPreviewToUrl !== '' && imgPreviewToUrl && form.get('image').valid">
    <img [src]="imgPreviewToUrl" [alt]="form.value.title">
  </div>
  <mat-form-field>
<textarea matInput
          rows="5"
          formControlName="content"
          placeholder="Post Content"
         ></textarea>
<!--    //#content means to help define error ngIf-->
    <mat-error *ngIf="form.get('content').invalid">Please enter post content</mat-error><br>
</mat-form-field>
  <br><br>
  <button mat-raised-button color="primary" type="submit">Save Post</button>
</form>
</mat-card>


